    <h1>Nos Plans Repas</h1>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="NumeroPlan">
        <th mat-header-cell *matHeaderCellDef> Numero Plan </th>
        <td mat-cell *matCellDef="let plan"> {{plan.numeroplan}} </td>
      </ng-container>
      <ng-container matColumnDef="Categorie">
        <th mat-header-cell *matHeaderCellDef> Categorie>
        <td mat-cell *matCellDef="let plan"> {{plan.categorie}} </td>
      </ng-container>
      <ng-container matColumnDef="Frequence">
        <th mat-header-cell *matHeaderCellDef> Frequence </th>
        <td mat-cell *matCellDef="let plan"> {{plan.frequence}} </td>
      </ng-container>
      <ng-container matColumnDef="NombrePersonnes">
        <th mat-header-cell *matHeaderCellDef> Nombre Personnes </th>
        <td mat-cell *matCellDef="let plan"> {{plan.nbrpersonnes}} </td>
      </ng-container>
      <ng-container matColumnDef="Calories">
        <th mat-header-cell *matHeaderCellDef> Nombre Calories </th>
        <td mat-cell *matCellDef="let plan"> {{plan.nbrcalories}} </td>
      </ng-container>
      <ng-container matColumnDef="Prix">
        <th mat-header-cell *matHeaderCellDef> Prix</th>
        <td mat-cell *matCellDef="let plan"> {{plan.prix}} </td>
      </ng-container>
      <ng-container matColumnDef="Fournisseur">
        <th mat-header-cell *matHeaderCellDef> Numero Fournisseur </th>
        <td mat-cell *matCellDef="let plan"> {{plan.numerofournisseur}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let plan">
          <button mat-raised-button class="circle-outline" (click)="ouvrirModifierDialog(plan)">
            <mat-icon class="circle-inline">edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
